<html>
<head>
<title>HomeCount</title>

<script type="text/javascript" src="../static/fusioncharts/jquery-1.9.1.js"></script>
<script src="../static/fusioncharts/fusioncharts.js" type="text/javascript"></script>
<script src="../static/fusioncharts/fusioncharts.charts.js" type="text/javascript"></script>
<script src="../static/fusioncharts/fusioncharts.maps.js" type="text/javascript"></script>
<script src="../static/fusioncharts/fusioncharts.widgets.js" type="text/javascript"></script>
<script src="../static/fusioncharts/fusioncharts.gantt.js" type="text/javascript"></script>
<script src="../static/fusioncharts/fusioncharts.powercharts.js" type="text/javascript"></script>

<!-- 安全事件总体概况 -->
<script type="text/javascript">
  FusionCharts.ready(function(){
    var revenueChart = new FusionCharts(
	{
        "type": "column3d",
        "renderAt": "chartContainer",
        "width": "800",
        "height": "320",
        "dataFormat": "json",
        "dataSource":  {
        	"chart": {
           	 	"caption": "安全事件总体概况",
           	 	"subCaption": "分类统计图",
            	"xAxisName": "事件分类",
            	"yAxisName": "事件数量(个)",
				"showValues": "0",
				"canvasBgColor": "#ffffff",
				"showValues": "1",
				"showBorder": "1",
            	"theme": "fint"
         	},
        	"data": {{.Data}}
      	}
  	});
revenueChart.render();
})
</script>

</head>
<body bgcolor="#FFFFFF">
  <div id="info" align=center>
<table align=center width=600 height="20">
	<tr align=center>
		<td align=left>注册状态:{{.IsReg}}</td>
		<td align=left>事件总数:{{.EventTotle}}</td>
	</tr>
    <tr align=center>
		<td align=left>基础防护模式:{{.BaseMode}}</td>
		<td align=left>增强防护模式:{{.HighMode}}</td>
	</tr>
</table>
  </div>
  <div id="chartContainer" align=center>Loading...</div>
</body>
</html>